@charset "utf-8";

.datsetdata1  {
	margin:auto;
	line-height: 20px;
	background-color: #5ABDAC;
	padding: 20px;
	width: 270px;
	border: outset #CCC;	
	justify-content: center; 
}

.header {
background-color: black;
width: auto;
}

.header h1 {
    margin: 0;
}


.logo {

	posistion: absolute;
	margin-bottom: auto; 
	
}

label, input {
  margin: 5px;
}

label {
    margin-bottom: 30px;
}

.form-select {
	
	margin-bottom: 10px;
}