<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ Title }}</title>

    <!-- Bootstrap -->
    <link href="../static/bootstrap-4.4.1.css" rel="stylesheet">
    <link href="../static/design.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <div class="header"><img class="logo" src="../static/images/orthologo.png" alt="Ortholog Finding Tool"></div>


  <nav class="navbar navbar-expand navbar-dark bg-dark"> <a class="navbar-brand" href="#">Phylo App</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
      <ul class="nav nav-bar mr-auto">
        <li class="nav-link active"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li>
        <li class="nav-link"> <a class="nav-link" href="#">Examples</a> </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="submitbtn" type="submit">Search</button>
      </form>
    </div>
  </nav>

      {% block content %}
      {% endblock %}


  <footer class="footer">
           <h5>Thank you for using</h5>
           <h1>Phylo App</h1>
           <p>Brought to you by</p>
          <div class="nameslides"><div class="animationslide">
  <div class="slide">
    <h3>Bryan James Dighera</h3>
  </div>
  <div class="slide">
    <h3>Robert Hackerman</h3>
  </div>
  <div class="slide">
    <h3>Robert Hernandez</h3>
</div>
    </div>
          </div>


                  </footer>


  <script src="../static/fileupload.js"></script>
  <script src="../static/jquery-3.4.1.min.js"></script>
  <script src="../static/popper.min.js"></script>
  <script src="../static/bootstrap-4.4.1.js"></script>
<script>
    var theSubmitButton = document.getElementById('formSubmit');

    theSubmitButton.onclick = function() {
        var theFormItself = 
            document.getElementById('phylo');
        theFormItself.style.display = 'none';
        var loading = 
            document.getElementById('loading');  
        loading.style.display = 'block';          
    }
</script>
  </body>

</html>