{% extends 'records.html' %}
{% block genomicContext %}
    <script src="../static/genomicContext.js"></script>
<div>




{#    <input type='button' id="button1" value="Answer" onclick=compareMotifs()/>#}

{#<form id="proteins" action="{{ url_for('gcAlignment') }}" method="post" name="name" enctype="multipart/form-data">#}
{##}
{#    <input type='button' id="button1" value="Answer" onclick='return compareMotifs()'/>#}
{##}
{##}
{##}
{#</form>#}



    <table id="sequenceTable"></table>
    <table id="legend"></table>
<script>sequenceData({{ gcData | tojson }})</script>
<button onclick=compareMotifs()>Compare Motifs</button>
</div>

{% endblock %}
