<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phylo App - Ortholog Finding Tool</title>

    <!-- Bootstrap -->
    <link href="../static/bootstrap-4.4.1.css" rel="stylesheet">
    <link href="../static/design.css" rel="stylesheet" type="text/css">
  </head>
  <body>
	  <div class="header">
	 <img class="logo" src="../images/orthologo.png" alt="Ortholog Finding Tool">
	 </div>
  <div class="container-fluid">
         <ul id="clothingnav1" class="nav nav-tabs" role="tablist">
         <li class="nav-item"> <a class="nav-link active" href="#home1" id="hometab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Home</a> </li>
         <li class="nav-item"> <a class="nav-link" href="#databasetab" role="tab" id="database" data-toggle="tab" aria-controls="hats">Database</a> </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Image Display </a>
      <div class="dropdown-menu"> <a class="dropdown-item" href="#introns" role="tab" id="intron" data-toggle="tab" aria-controls="dropdownShoes">Introns</a> <a class="dropdown-item" href="#genomic" role="tab" id="genomics" data-toggle="tab" aria-controls="dropdownBoots">Genomic Context</a> <a class="dropdown-item" href="#domain" role="tab" id="domains" data-toggle="tab" aria-controls="dropdownBoots">Domains</a> </div>
    </li>
  </ul>
        <!-- Content Panel -->
    <div id="clothingnavcontent1" class="tab-content">
      <div role="tabpanel" class="tab-pane fade show active" id="home1" aria-labelledby="hometab">

        <h2> Phylo App</h2>
<div class="datsetdata1">
  <form action= "{{ url_for('InitialFigure') }}" method="get" name="name">
	  <select class="form-select">
  				<option selected>Analyze</option>
  				<option name="intronsCheckBox" id="intronsCheckBox" value="1">Introns</option>
  				<option name="genomicContextCheckBox" id="genomicContextCheckBox" value="2">Genomic Contex</option>
  				<option name="domainsCheckBox" id="domainsCheckBox" value="3">Domains</option>
             </select>
	          
            <label><input type="checkbox" name="CollectSeqs" value="radio" id="CollectSeqs">Collect Sequences</label>
            <label><input type="checkbox" name="DisplaySeqs" value="radio" id="DisplaySeqs">Display Sequences</label>
            <label>Paste Input: <input type="text" name="name" id="name"></label><br><br>
	  		<button type="submit" value="submit" class="btn-primary">Submit</button>
        </form>
        
  </div>


      </div>
      <div role="tabpanel" class="tab-pane fade" id="databasetab" aria-labelledby="database">

		  <iframe width="1200px" height="1200px" src="http://127.0.0.1:5000/dB" name="Refresh" id="Refresh"></iframe>

      </div>
		<div role="tabpanel" class="tab-pane fade" id="introns" aria-labelledby="intron">
			<h1> Intron </h1>
            <div class="graph"><iframe src="intron.html" width="600px" height="320px"></iframe></div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="genomic" aria-labelledby="genomics">
            <h1>Genomc Context</h1>
          </div>
			<div role="tabpanel" class="tab-pane fade" id="domain" aria-labelledby="domains">
            <h1>Domains</h1>
          </div>
		
	  </div>

 			
  </div>


  <script src="../static/jquery-3.4.1.min.js"></script>
  <script src="../static/popper.min.js"></script>
  <script src="../static/bootstrap-4.4.1.js"></script>
  </body>
</html>
