{% extends 'base.html' %}

{% block content %}
<div class="apph2">
		<h5>Welcome to </h5>
		<hr class="my-4">
		<h2> Phylo App</h2>
		<hr class="my-4">
		<p>Input data or upload a text file to get started</p>
	</div>
  <div class="divtabcontent">
  <ul id="clothingnav1" class="nav nav-tabs" role="tablist">
         <li class="nav-item"> <a class="nav-link active" href="#home1" id="hometab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Inputs</a> </li>
         <li class="nav-item"> <a class="nav-link" href="#databasetab" role="tab" id="database" data-toggle="tab" aria-controls="hats">Database Table</a> </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Graph Outputs </a>
      <div class="dropdown-menu">
          <a class="dropdown-item" href="#introns" role="tab" id="intron" data-toggle="tab" aria-controls="dropdownShoes">Introns</a>
          <a class="dropdown-item" href="#genomics" role="tab" id="genomic" data-toggle="tab" aria-controls="dropdownShoes">Genomic Context</a>
          <a class="dropdown-item" href="#domain" role="tab" id="domains" data-toggle="tab" aria-controls="dropdownShoes">Domains</a>
      </div>
    </li>
  </ul>

        <!-- Content Panel -->
    <div id="clothingnavcontent1" class="tab-content">
      <div role="tabpanel" class="tab-pane fade show active col-xl-8 offset-xl-2" id="home1" aria-labelledby="hometab">

<div class="datsetdata1">
	<div id="pageloader">
   <img src="../static/images/loader-large.gif" alt="processing..." />
</div>
  <form id="phylo" action= "{{ url_for('InitialFigure') }}" method="get" name="name" enctype="multipart/form-data">
	 <label class="labelforms" for="exampleInputuid">Analyze</label>

	  <div class="form-group">

	  <select class="form-select" name="typeofrun" required>
  				<option value="introns">Introns</option>
  				<option value="genomicContext">Genomic Context</option>
  				<option value="domains">Domains</option>
	  </select></div>
	  			<label class="labelforms">Sequences</label>
	          <div class="form-group">
				 <label> Collect</label>
           <input type="checkbox" name="CollectSeqs" value="collect" id="CollectSeqs">
				  	 <label> Display </label>
            <input type="checkbox" name="DisplaySeqs" value="radio" id="DisplaySeqs">
		 </div>

	  <div class="form-group">
		<label class="labelforms">Inputs</label>
	  </div>
	  <div class="form-group">

		  <input type="text" name="name" id="name" placeholder="Ex: XP_028685121.1">
		  	<input type="file" id="file-upload" name="myfile"/>
  			<label class="uploadbtn" for="file-upload">Upload file</label>
  			<div id="file-upload-filename"></div>
  		  </div>
	<div class="form-group">
	  <button type="submit" onclick="$('#databasetab').trigger('click')" value="submit" class="submitbtn">Submit</button>
	  </div>
		</form>

  </div>


      </div>
      <div role="tabpanel" class="tab-pane fade" id="databasetab" aria-labelledby="database">

          {% block dBtable %}
              {% endblock %}


      </div>
        <div role="tabpanel" class="tab-pane fade" id="introns" aria-labelledby="intron">
			<div class="dataoutputdiv">
				<h2> Introns</h2>
				<p>Display Output</p>
			</div>
			<hr>
			<div class="container">
				{{ plot|safe }}
			</div>
		</div>

	<div role="tabpanel" class="tab-pane fade" id="domain" aria-labelledby="domain">
			<div class="dataoutputdiv">
				<h2> Domains</h2>
				<p>Display Output</p>
			</div>
        <hr>
			<div class="container">
				{% block domain %}
                    {% endblock %}
			</div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="genomics" aria-labelledby="genomic">
			<div class="dataoutputdiv">
				<h2> Genomic Context</h2>
				<p>Display Output</p>
			</div>
        <hr>
			<div class="container">
                <h1>{{ genomic }}</h1>

			</div>
    </div>
    </div>
</div>
{% endblock %}