<!DOCTYPE html>
<html>
<head>
 <title></title>
<link href="../static/design.css" rel="stylesheet" type="text/css">
<link href="../static/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
</head>
<body>
<style>

 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>
<table>
  <thead>

    <div style="align-content: center">
        <button class="btn btn-primary" onClick="window.location.reload();">Refresh Page</button>
    </div>

    <tr>
        <th>Protein Accession</th>
        <th>Common Name</th>
        <th>Protein ID</th>
        <th>Protein Description</th>
        <th>CDS Accession</th>
        <th>Gene ID</th>
        <th>Taxonomy</th>



    </tr>
    </thead>
    <tbody>
     {% for col in data %}
         
            <tr>
                <td><input type="checkbox" name="DisplaySeqs" value="radio" id="DisplaySeqs">{{col[0]}}</td>
                <td>{{col[1]}}</td>
                <td>{{col[2]}}</td>
                <td>{{col[3]}}</td>
                <td>{{col[4]}}</td>
                <td>{{col[5]}}</td>
                <td>{{col[6]}}</td>
                
                

            </tr>
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript">function refreshiframe() {parent.Refresh.location.href="localhost:/5000"}</script>
</body>
<script> $('#selectAll').click(function() {
   if (this.checked) {
       $(':checkbox').each(function() {
           this.checked = true;
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false;
       });
   } 
});</script>
</html>