{% extends 'index.html' %}
{% block dBtable %}
		  <table class="table-bordered">
  <thead>

    <div style="align-content: center">
        <button class="btn btn-primary" onClick="window.location.reload();">Refresh Page</button>
    </div>

    <tr>
        <th>Protein Accession</th>
        <th>Common Name</th>
        <th>Protein ID</th>
        <th>Protein Description</th>
        <th>CDS Accession</th>
        <th>Gene ID</th>
        <th>Taxonomy</th>
        <!--<th>Delete Row</th> -->

    </tr>
    </thead>
    <tbody>
    		<input type="button" onclick="selectAll()" value="Select All"/>
		<input type="button" onclick="UnSelectAll()" value="Unselect All"/>

            <select form="proteins" class="dbform-select" name="typeofrun" required>
  				<option value="introns">Introns</option>
  				<option value="genomicContext">Genomic Context</option>
  				<option value="domains">Domains</option>
                <option value="tree">Phylogenetic Tree</option>
                <option value="MSA">Multiple Sequencing Alignment</option>
	  </select>
            <input type="file" id="file-upload" form="proteins" name="myfile"/>
  			<label class="dbuploadbtn" for="file-upload">Upload file</label>
                    <input type="submit" form="proteins"/>
            <form id="proteins" action="{{ url_for('index') }}" method="post" name="name" enctype="multipart/form-data">
            <input type="file" id="fupload" name="my" form="proteins"/>


     {% for col in data %}
        <tr>


				<td class="records_td"><label><input type="checkbox" name="entries" value={{col[0]}}>{{col[0]}}</label></td>
                <td class="records_td">{{col[1]}}</td>
                <td class="records_td">{{col[2]}}</td>
                <td class="records_td">{{col[3]}}</td>
                <td class="records_td">{{col[4]}}</td>
                <td class="records_td">{{col[5]}}</td>
                <td class="records_td">{{col[6]}}</td>
                <!--<td><input type="button" value="Delete" onclick="deleteRow(rowIndex)"></td> -->



            </tr>
        {% endfor %}
    </form>
    </tbody>
</table>

	<script type="text/javascript">
    function selectAll() {
        var items = document.getElementsByName('entries');
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox')
                items[i].checked = true;
        }
    }

    function UnSelectAll() {
        var items = document.getElementsByName('entries');
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox')
                items[i].checked = false;
        }
    }			
</script>
<script type="text/javascript">function refreshiframe() {parent.Refresh.location.href="localhost:/5000"}</script>
{% endblock %}
