<!DOCTYPE html>
<html>
<head>
 <title></title>
<link href="../static/design.css" rel="stylesheet" type="text/css">
<link href="../static/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
</head>
<body>
		  <table>
  <thead>

    <div style="align-content: center">
        <button class="btn btn-primary" onClick="window.location.reload();">Refresh Page</button>
    </div>

    <tr>
        <th>Protein Accession</th>
        <th>Common Name</th>
        <th>Protein ID</th>
        <th>Protein Description</th>
        <th>CDS Accession</th>
        <th>Gene ID</th>
        <th>Taxonomy</th>



    </tr>
    </thead>
    <tbody>
    		<input type="button" onclick="selectAll()" value="Select All"/>
		<input type="button" onclick="UnSelectAll()" value="Unselect All"/>

            <select form="proteins" class="dbform-select" name="typeofrun" required>
  				<option value="introns">Introns</option>
  				<option value="genomicContext">Genomic Context</option>
  				<option value="domains">Domains</option>
	  </select>
            <input type="file" id="file-upload" form="proteins" name="myfile"/>
  			<label class="dbuploadbtn" for="file-upload">Upload file</label>
                    <input type="submit" form="proteins"/>
            <form id="proteins" action="{{ url_for('dB') }}" method="post" name="name" enctype="multipart/form-data">
            <input type="file" id="fupload" name="my" form="proteins"/>
     {% for col in data %}
         
            <tr>
            

				<td><label><input type="checkbox" name="entries" value={{col[0]}}>{{col[0]}}</label></td>
                <td>{{col[1]}}</td>
                <td>{{col[2]}}</td>
                <td>{{col[3]}}</td>
                <td>{{col[4]}}</td>
                <td>{{col[5]}}</td>
                <td>{{col[6]}}</td>
                
                

            </tr>
        {% endfor %}
    </form>
    </tbody>
</table>

	<script type="text/javascript">
    function selectAll() {
        var items = document.getElementsByName('entries');
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox')
                items[i].checked = true;
        }
    }

    function UnSelectAll() {
        var items = document.getElementsByName('entries');
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox')
                items[i].checked = false;
        }
    }			
</script>
<script type="text/javascript">function refreshiframe() {parent.Refresh.location.href="localhost:/5000"}</script>
</body>
</html>