{% extends 'records.html' %}
{% block tree %}
<body>
<div id="demo">
  <h1>Phylogenetic Data Visualization</h1>
</div>
<table id="sequenceTable">
</table>

{#<img src="static/images/tree_img.html"/>#}

{#<svg id="tree" height="500" width="500"#}
{#     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >#}
{#  <image x="0" y="0" height="500" width="500"  xlink:href="static/images/tree_img.html" />#}
{#</svg>#}



<div>
    <iframe src="../static/images/tree_img.html"></iframe>
</div>

</body>
{% endblock %}
